@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: repeating-linear-gradient(60deg, #8c00ff, #00bfff) 100%;   
}

.container {
    width: 450px;
    padding: 25px;
    border-radius: 7px;
    background: rgb(240, 240, 240);
}

.gradient-box {
    width: 100%;
    height: 220px;
    border-radius: 7px;
    background: linear-gradient(90deg, #8c00ff, #00bfff);
}

.row {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.row:where(.column, button) {
    width: calc(100%/2 - 12px);
}

.options p {
    font-size: 1.12rem;
    margin-bottom: 8px;
}

.select-box {
    width: 160%;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
}

.select-box select {
    width: 110%;
    border: none;
    outline: none;
    font-size: 1.12rem;
    background: none;
}

.colors {
    width: 100%;
    display: initial;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    text-align: right;
}

.colors input {
    width: 25%;
    height: 35px;
}

.colors input:last-child {
    margin-left: 6px;
}

textarea {
    width: 100%;
    color: #333333;
    resize: none;
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #cccccc
}

.buttons button {
    width: 100%;
    margin: 0 1rem -1.5rem;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 1.09rem;
    border: none;
    cursor: pointer;
}

.refresh {
    background: #6c757d;
}

.copy {
    background: #8a6cff;
}

.watermark {
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}